<div class=" instructions">
  <p class="instructions-title">O desafio: </p>
  <ul class="instructions-content">
    <li>
      <strong>Problema:</strong> uma empresa precisa automatizar a previsão de horas de seus funcionários. Atualmente, esse processo
      possui passos manuais que dificultam sua automatização.
    </li>
    <li>
      <strong>Requerimentos obrigatórios:</strong>
      <br> - Salvar uma previsão de horas trabalhadas do mês atual.
      <br> - Atualizar a previsão de horas do mês atual.
      <br> - Exportar sua previsão em um arquivo CSV para integração com outros sistemas.
    </li>
    <li>
      <strong>Requerimentos opicionais:</strong>
      <br> - Em uma visão mês a mês, adicionar uma previsão de horas trabalhadas para cada dia.
      <br> - Atualizar a previsão para o mês atual e próximos.
      <br> - Exportar as previsões mês a mês, ou de todo o ano, em um arquivo CSV.
    </li>
    <li>
      O desafio deve ser entregue como código fonte, com as instruções para build (ou build automatizado). Informações adicionais
      para a execução da aplicação (se necessário) também devem ser fornecidas.
    </li>
  </ul>
</div>