<div class="container">
  <div class="row">
    <div class="col-12 mt-2">
      <div>
        <h1>
          {{ title }}
        </h1>
      </div>
    </div>
  </div>
</div>
<nav class="bg-light container">
  <div class="row">
      <nav class="col-12 pb-2">
          <a routerLink="/dashboard">Dashboard</a>
          <a routerLink="/sobre">Sobre</a>
        </nav>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col-12 item-card mt-4 mb-4">
      <div class="pt-4">

        <router-outlet></router-outlet>
        <!-- <app-funcionarios></app-funcionarios> -->
      </div>
    </div>
  </div>
</div>